@model MvcPoc.Web.Models.Miscellaneous.Ucc1MiscellaneousModel.AlternativeDesignation

<table>
    <tr>
        @foreach (var value in Enum.GetValues(typeof(MvcPoc.Web.Models.Miscellaneous.Ucc1MiscellaneousModel.AlternativeDesignation)))
        {
            <td style="width:20px">
                @Html.CheckBox("Checkbox_"+ value, false)
                @Html.Label(value.ToString())
            </td>
        }       
        
    </tr>
</table>

