@model MvcPoc.Web.Models.Miscellaneous.Ucc1MiscellaneousModel.Filedinrealestate
<table>
    <tr>
        @foreach (var value in Enum.GetValues(typeof(MvcPoc.Web.Models.Miscellaneous.Ucc1MiscellaneousModel.Filedinrealestate)))
        {
            <td>
                @Html.RadioButtonFor(modelitem => modelitem, value)@Html.Label(value.ToString())
            </td>
}
    </tr>
</table>
