@model MvcPoc.Web.Models.Miscellaneous.Ucc1MiscellaneousModel.Miscellaneous

<table>
    <tr>
        @foreach (var value in Enum.GetValues(typeof(MvcPoc.Web.Models.Miscellaneous.Ucc1MiscellaneousModel.Miscellaneous)))
        {
                        <td>
                @Html.RadioButtonFor(modelitem => modelitem, value)@Html.Label(value.ToString())
            </td>
        }
    </tr>
</table>
