@model MvcPoc.Web.Models.Debtor.Ucc1DebtorSectionModel

<div id="debtor-rows">
    
    @Html.HiddenFor(model => model.StateCode)
    @Html.EditorFor(m => m.Debtors)

</div>

<input type="button" id="add-additional-debtor" value="Add Additional Debtor" name="Add Additional Debtor" />