@model MvcPoc.Web.Models.Miscellaneous.Ucc1MiscellaneousModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    *@<fieldset>
        <legend>Ucc1MiscellaneousModelNonRA9</legend>
         <div class="editor-field" style="width:auto;position:relative">
                        @Html.EditorFor(model => model.MiscellaneousType)
                        @Html.ValidationMessageFor(model => model.MiscellaneousType)
                    </div>  
    </fieldset>
@*}*@


