@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h4>Welcome : @User.FirstName</h4>
<h1>User DashBoard</h1>
 @Html.ActionLink("Admin Dashboard", "Index", "Admin", null, new { @class = "navbar-brand" })

